* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 20px;

    color: #54370d;
    font-size: var(--mainfontsize);
    font-family: var(--pala);
}

.content {
    padding: 120px max(calc(50% - 720px), 120px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 120px;
}

.headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding-bottom: 32px;
}

.headline > img {
    width: 40px;
    height: 40px;
}

.headline > h2 {
    font-size: var(--h2fontsize);
    color: var(--green);
    font-family: var(--arima);
    font-weight: var(--hfontweight);
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
    .headline > img {
        width: 48px;
        height: 48px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    .content {
        padding: 100px max(calc(50% - 720px), 80px);
        gap: 100px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding: 80px max(calc(50% - 720px), 60px);
        gap: 80px;
    }
}

@media screen and (max-width: 479px) {
    .content {
        padding: 80px max(calc(50% - 720px), 16px);
    }
}