* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    color: #54370D;
    font-size: var(--mainfontsize);
    font-family: var(--pala);
}

.content{
    padding: 80px max(calc(50% - 720px), 36px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding-bottom: 32px;
}
.headline > img {
    width: 40px;
    height: 40px;
}
.headline > h2 {
    font-size: var(--h2fontsize);
    color: var(--green);
    font-family: var(--arima);
    font-weight: var(--hfontweight);
}


.highlights {
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 32px;
}

.highlights-h2 {
   border: 3px solid red;
  color: rgba(78, 164, 135, 1);
  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;
}

.highlights-h2 img {
  height: 32px;
}

.slider-a {
  position: relative;

  background-color: black;

  width: 330px;
  height: 530px;
  object-fit: cover;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  border-radius: 0 100px 0 0;
  gap: 22px;

  overflow: hidden;
}

.radio-button {
  height: 28px;
  width: 28px;

  margin-bottom: 22px;
}

input[type="radio"]:checked {
  height: 28px;
  width: 40px;
  box-shadow: 0 0 5px 5px rgba(241, 201, 83, 1);
}

.slider-a input {
  z-index: 2;
}

.slider-a-wrapper {
  z-index: 1;

  width: 300%;
  height: 100%;

  position: absolute;
  display: flex;

  transition: all 1s ease-in-out;
}

.slider-a-element {
  width: calc(100% / 3);
  height: 100%;
}

.slider-a input[value="one"]:checked ~ .slider-a-wrapper {
  transform: translateX(calc(100% / 3));
}

.slider-a input[value="two"]:checked ~ .slider-a-wrapper {
  transform: translateX(0);
}

.slider-a input[value="three"]:checked ~ .slider-a-wrapper {
  transform: translateX(calc(-100% / 3));
}

.element-one {
  background-color: aquamarine;
}

.element-two {
  background-color: brown;
}

.element-three {
  background-color: goldenrod;
}

footer {
  background-color: rgba(78, 164, 135, 1);
  height: 134px;
  width: 100%;
  padding: 30px 24px;

  display: flex;
  justify-content: space-evenly;
}

.footer-text {
  color: rgba(255, 255, 255, 1);
  font-size: 19px;
}

.footer-text a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 19px;
}

.footer-text div {
  display: flex;

  gap: 4px;
}

.footer-text img {
  height: 16.5px;
  width: 16.5px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  gap: 16px;
}