:root{
    --yellow: #F1C953;
    --green: rgba(78, 164, 135);
    --greentransparent: rgba(78, 164, 135, 0.2);
    
    --mainfontsize: clamp(16px, 2.2vw, 24px);
    --arima: 'Arima';
    --pala: 'Palanquin';
    --paladark: 'Palanquin Dark';
    
    --hfontweight: 700;
    --h1fontsize: clamp(40px, 6vw, 64px);
    --h2fontsize: clamp(40px, 5vw, 52px);
}


