.contactform{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactform p{
    text-align: center;
    padding-bottom: 24px;
}

.contactform-labelrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactform-label-input{
    display: flex;
    flex-direction: column;
}

.contactform-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.contactform-form label{
    font-size: 24px;
}
.contactform-form input{
    
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
}
.contactform-form > button{
    background-color: #30303000;
    margin-top: 40px;
    width: 139px;
    height: 48px;
    border-radius: 25px;
    border-color: #30303050;
    border-width: 1px;
    border-style: solid;
    align-self: center;

    cursor: pointer;
}

.contactform-form > button > p{
    font-size: 24px;
    font-family: var(--arima);
    font-weight: 700;
    color: var(--grey);
    letter-spacing: 5%;
    padding: 0;
}

.contactform-form > button:hover{
    background-color: var(--green);
}
.contactform-form > button > p:hover{
    color: var(--yellow);
}


.contactform-privacypolicy{
    margin-top: 22px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    gap: 8px;
}
.contactform-privacypolicy label{
    font-size: 15px;
}


@media screen and (min-width: 1280px) {
    .contactform{
        padding-inline: 56px;
    }
    .headline p{
        display: flex;
    }
    .contactform-privacypolicy label{
        font-size: 18px;
    }
    .contactform-privacypolicy a{
        font-size: 18px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    .contactform{
        padding-inline: 56px;
    }
    .headline p{
        display: flex;
    }
    .contactform-privacypolicy label{
        font-size: 18px;
    }
    .contactform-privacypolicy a{
        font-size: 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 769px) {
    .contactform-labelrow{
    display: flex;
    flex-direction: column;
    gap: 32px;
    }
}

@media screen and (max-width: 319px) {
    
}


