.questions {
    display: flex;
    flex-direction: column;

    gap: 16px;
}

details {
    background-color: var(--yellow);
    border-radius: 12px;

    padding: 16px 14px;
}

summary {
    list-style: none;

    display: flex;
    justify-content: space-between;
    gap: 8px;
}

summary > span {
    font-weight: 700;
}

details[open] summary {
    padding-bottom: 8px;
}

summary img {
    transition: 0.5s ease;
}

details[open] summary img {
    transform: rotate(-180deg);
}

details > p {
    background-color: white;
    border-radius: 5px;
    padding: 4px 10px;
    line-height: 30px;
}
