.highlights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 32px;
}

.highlights-h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;
}

.highlights h2 {
    color: var(--green);
  font-family: var(--arima);
  font-size: var(--h2fontsize);
  font-weight: var(--hfontweight);
}

.highlights-h2 img {
  height: 32px;
}

.slider-a {
  position: relative;

  background-color: black;

  width: 330px;
  height: 530px;
  object-fit: cover;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  border-radius: 0 100px 0 0;
  gap: 22px;

  overflow: hidden;
}

.radio-button {
  height: 28px;
  width: 28px;

  margin-bottom: 22px;
}

input[type="radio"]:checked {
  height: 28px;
  width: 40px;
  box-shadow: 0 0 5px 5px rgba(241, 201, 83, 1);
}

.slider-a input {
  z-index: 2;
}

.slider-a-wrapper {
  z-index: 1;

  width: 300%;
  height: 100%;

  position: absolute;
  display: flex;

  transition: all 1s ease-in-out;
}

.slider-a-element {
  width: calc(100% / 3);
  height: 100%;
}

.slider-a input[value="one"]:checked ~ .slider-a-wrapper {
  transform: translateX(calc(100% / 3));
}

.slider-a input[value="two"]:checked ~ .slider-a-wrapper {
  transform: translateX(0);
}

.slider-a input[value="three"]:checked ~ .slider-a-wrapper {
  transform: translateX(calc(-100% / 3));
}

.element-one {
        /* background-color: aquamarine; */
        background-image: url(/assets/img/highlights/content-highlights-carousel-beach.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .element-two {
        /* background-color: brown; */
        background-image: url(/assets/img/highlights/content-highlights-carousel-osaka.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .element-three {
        background-image: url(/assets/img/highlights/content-highlights-carousel-mount.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .slide-content { 
        border-left: 2px solid rgba(255, 255, 255, 0.45);
        border-right: 2px solid rgba(255, 255, 255, 0.45);
        background-color: rgba(255, 255, 255, 0.1);

        display: flex;
        flex-direction: column;

        margin: 93px 16px 0 16px;
        padding: 16px;
      }

      .slide-content p {
        color: rgba(255, 255, 255, 1);

      }

      .slide-content h3 {
        color: rgba(255, 255, 255, 1);
        font-size: 28px;

      }