html {
    font-size: 16px;
}

header {
    background-color: rgba(78, 164, 135, 1);

    display: flex;
    justify-content: center;
}

header > img {
    width: 56px;
}

.hero-section {
    background-image:
        url(../assets/img/landingscreen/landingscreen-background-yellow.png),
        url(../assets/img/landingscreen/landingscreen-background-full.jpg);

    background-position:
        left top,
        40% center;
    background-repeat: no-repeat;
    background-size:
        60% 50%,
        cover;

    height: 100dvh;

    position: relative;
}

.hero-section > img {
    width: 160px;

    position: absolute;
    top: 25%;
    left: 20%;
}

.faq-section {
    padding: 40px 16px;
}

.questions {
    display: flex;
    flex-direction: column;

    gap: 16px;
}

details {
    background-color: rgba(241, 201, 83, 1);
    color: rgba(84, 55, 13, 1);
    border-radius: 12px;

    padding: 16px 14px;
}

summary {
    list-style: none;

    display: flex;
    gap: 8px;
}

details[open] summary {
    padding-bottom: 8px;
}

summary img {
    transition: 0.5s ease;
}

details[open] summary img {
    transform: rotate(-180deg);
}

details > p {
    background-color: white;
    border-radius: 5px;
    padding: 4px 10px;
}
