footer {
  background-color: var(--green);
  height: 134px;
  width: 100%;
  padding: 30px 24px;
  margin-bottom: calc(35px + 24px + 24px);

  display: flex;
  justify-content: space-evenly;
}

p {
  color: rgba(255, 255, 255, 1);
  font-size: var(--mainfontsize);
}

a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: var(--mainfontsize);
}

.footer-text div {
  display: flex;

  gap: 4px;
}

.footer-text img {
  height: 16.5px;
  width: 16.5px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  gap: 16px;
}