* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  color: #54370d;
  font-size: var(--mainfontsize);
  font-family: var(--pala);
}

header {
  background-color: rgba(78, 164, 135, 1);

  display: flex;
  justify-content: center;
}

header > img {
  width: 56px;
}

main {
  border: 3px solid red;
}

.content {
  padding: 80px max(calc(50% - 720px), 15px);

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

.position-content-author {
  display: flex;
  gap: 36px;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding-bottom: 32px;
}

.headline > img {
  width: 40px;
  height: 40px;
}

.content-author {
  /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    gap:8px;
    
}

.content h3 {
  /* color: rgba(78, 164, 135, 1); */
  font-size: clamp(20px, 3.8vw, 40px);
  font-family: var(--pala);
  font-weight: 600;
  line-height: 48px;
  color: var(--green);
}

.content h2 {
    color: var(--yellow);
    font-family: var(--arima);
    font-size: var(--h2fontsize);
    font-weight: var(--hfontweight);
    line-height: 64px;
}

.icons-set p {
    font-size: 16px;
}

.icon {
  /* border: 3px solid rgb(102, 255, 0); */
}

.icon-section {
  /* border: 3px solid red; */
  display: flex;

  gap: 10px;
}

.icons-set {
  /* border: 3px solid red; */
  display: flex;
}

.text-author {
  /* border: 3px solid red; */

  background-color: var(--greentransparent);
  /* height: 100%; */

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 16px 8px;
  border-radius: 30px;

  gap: 16px;
}

.text-author img {
  height: 120px;
  width: 120px;

  border-radius: 120px;

}

.text-author h4 {
  color: rgba(84, 55, 13, 1);
  font-size: 18px;
  font-family: var(--arima);
  font-weight: 700;

}

.text-author p {
  line-height: 28px;
}

#author {
  font-family: var(--arima);
}

.name-author {
  /* border: 3px solid rgb(26, 255, 0); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.rain-content {
  /* border: 3px solid rgb(26, 255, 0); */
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 24px;
}

.rain-content h3 {
  color: rgba(84, 55, 13, 1);
  font-size: 32px;
  font-family: var(--arima);
  font-weight: 600;
}

.rain-content img {
  height: 450px;
  width: 650px;

  border-radius: 53px;
  box-shadow: -2px 4px 11.6px 0px rgba(0, 0, 0, 0.25);

  object-fit: cover;
}