* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  color: #54370d;
  font-size: var(--mainfontsize);
  font-family: var(--pala);
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

main {
  flex: 1;
}

header {
  background-color: rgba(78, 164, 135, 1);

  display: flex;
  justify-content: center;
}

header > img {
  width: 56px;
}

.content {
  padding: 80px 15px 0 15px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.position-content-author {
  display: flex;
  gap: 36px;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding-bottom: 32px;
}

.headline > img {
  width: 40px;
  height: 40px;
}

.content-author {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content h3 {
  font-size: clamp(20px, 3.8vw, 40px);
  font-family: var(--pala);
  font-weight: 600;
  line-height: 48px;
  color: var(--green);
}

.content h2 {
  color: var(--yellow);
  font-family: var(--arima);
  font-size: var(--h2fontsize);
  font-weight: var(--hfontweight);
  line-height: 64px;
}

.icons-set p {
  font-size: 16px;
}

#glasses {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-section {
  max-height: max-content;
  max-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.icons-set {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 5px;
}

.text-author {
  background-color: var(--greentransparent);
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 16px 8px;
  border-radius: 30px;

  gap: 16px;

  max-width: 500px;
}

.text-author img {
  height: 120px;
  width: 120px;

  border-radius: 120px;
}

.text-author h4 {
  color: rgba(84, 55, 13, 1);
  font-size: 18px;
  font-family: var(--arima);
  font-weight: 700;
}

.text-author p {
  line-height: 28px;
}

#author {
  font-family: var(--arima);
}

.name-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rain-content {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 24px;
}

.rain-content h3 {
  color: rgba(84, 55, 13, 1);
  font-size: 32px;
  font-family: var(--arima);
  font-weight: 600;
}

.rain-content img {
  height: 450px;
  width: 640px;

  border-radius: 53px;
  box-shadow: -2px 4px 11.6px 0px rgba(0, 0, 0, 0.25);

  object-fit: cover;
}

.rain-content p {
  font-size: var(--mainfontsize);
}

.diagram {
  max-width: min-content;

  display: flex;
  flex-direction: column;
  
  gap: 10px;
}

.diagram-position {
  display: flex;
  justify-content: center;

  gap: 80px;

}

.diagram h3 {
  color: rgba(84, 55, 13, 1);
  font-size: 32px;
  font-family: var(--arima);
  font-weight: 600;
}

.diagram img {
  height: 475px;
  width: 525px;

  border-radius: 53px;
  box-shadow: -2px 4px 11.6px 0px rgba(0, 0, 0, 0.25);

  object-fit: cover;
}

.follow-me {
  display: flex;
  justify-content: center;
}

.follow-me p {
  text-align: center;
  font-family: var(--arima);
  font-size: var(--mainfontsize);
  font-weight: 700;
}

.share-container {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;

  padding-bottom: 80px;
}

.share-checkbox {
  display: none; /*Checkbox wird ausgeblendet*/
}

.share-button {
  display: flex;

  justify-content: flex-start;
  align-items: center;

  cursor: pointer; /*ändert den Mauszeiger zu einer Hand und macht etwas anklickbar*/
  z-index: 2;
}

.arrow-img {
  position: absolute;
  left: 200px;
  bottom: 100px;
}

.share-icon {
  width: 158px;
  height: 48px;
}

.link-icon {
  height: 24px;
  width: 24px;
}

.share-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;


  opacity: 0; /*vollständig unsichtbar*/
  visibility: hidden; /*macht unsichtbar, PLatz bleibt aber erhalten*/
  transform: translateX(-20px);
  transition: transform 250ms ease, opacity 250ms ease, visibility 250ms; 
  /* visibility schaltet die Sichtbarkeit um*/
  white-space: nowrap; /*verhindert automatischen Zeilenumsprung*/
  padding-left: 15px;
}

.share-links {
  display: flex;
  flex-direction: column;
}

.share-link {
  color: var(--green);
  font-family: var(--arima);
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
}

.share-checkbox:checked ~ .share-button {
  transform: translateX(-40px);
} 

.share-checkbox:checked ~ .share-menu {
  opacity: 1; /*Element wird wieder sichtbar*/
  visibility: visible;
  transform: translateX(-40px); 
}

@media screen and (min-width: 1440px) {
  .content {
    padding: 80px max(calc(50% - 720px), 30px);
  }

}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .icon-section {
  flex-wrap: wrap;
}
  
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .icon-section {
  flex-wrap: wrap;
}

  .diagram-position {
  flex-direction: column;

  align-items: center;
}

.diagram {
  align-items: center;
}



}

@media screen and (min-width: 320px) and (max-width: 768px) {

.content {
padding: 10px 10px;

  gap: 50px;
}

.icon-section {
  flex-wrap: wrap;

  gap: 6px;
}

.icons-set {
  gap: 2px;
}

.position-content-author {
    flex-direction: column;

    gap: 20px;
}

.rain-content img {
  height: 180px;
  width: 300px;

  border-radius: 30px;
}

  .diagram-position {
  flex-direction: column;

  align-items: center;

  gap: 20px;
}

.diagram {
  align-items: center;

  gap: 10px;
}

.diagram img {
  height: 300px;
  width: 300px;

  border-radius: 30px;
}

}

@media screen and (min-width: 1400px) and (max-width: 3999px) {
  .arrow-img {
  left: 390px;
}
}

@media screen and (min-width: 1280px) and (max-width: 1399px) {
  .arrow-img {
  left: 330px;
}
}

@media screen and (min-width: 1100px) and (max-width: 1279px) {
  .arrow-img {
  left: 240px;
}
}

@media screen and (min-width: 1000px) and (max-width: 1099px) {
  .arrow-img {
  left: 190px;
}
}

@media screen and (min-width: 900px) and (max-width: 999px) {
  .arrow-img {
  left: 140px;
}
}

@media screen and (min-width: 767px) and (max-width: 899px) {
  .arrow-img {
  left: 80px;
}
}

@media screen and (min-width: 700px) and (max-width: 766px) {
  .arrow-img {
  left: 100px;
  bottom: 110px
}
}

@media screen and (min-width: 600px) and (max-width: 699px) {
  .arrow-img {
  left: 70px;
  bottom: 110px
}
}

@media screen and (min-width: 500px) and (max-width: 599px) {
  .arrow-img {
  left: 20px;
  bottom: 110px
}
}

@media screen and (min-width: 400px) and (max-width: 499px) {
  .arrow-img {
  left: 0px;
  bottom: 110px
}
}

@media screen and (min-width: 320px) and (max-width: 399px) {
  .arrow-img {
  left: 0px;
  bottom: 130px
}
}

