h1,
h2,
h3,
h4,
p,
li {
    max-width: 65ch;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 24px 16px;
}

h2 {
    color: var(--green);
    font-weight: 600;
    font-size: clamp(20px, 5vw, 40px);
}

h1 {
    color: var(--yellow);
    font-family: var(--arima);
    font-size: var(--h1fontsize);
    line-height: clamp(40px, 6vw, 64px);
}

h3 {
    font-family: var(--arima);
    line-height: clamp(20px, 6vw, 34px);
}

p {
    font-size: clamp(16px, 2vw, 24px);
}

.head-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.head-left > p {
    font-size: clamp(18px, 3vw, 32px);
    line-height: clamp(26px, 6vw, 40px);
}

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 16px;
    padding: 24px 0px;
}

.stats > div {
    display: flex;
    gap: 6px;
}

.stats img {
    width: 16px;
}

.stats p {
    font-size: 16px;
}

.head-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    background-color: var(--greentransparent);
    border-radius: 30px;

    text-align: center;
    padding: 16px;
}

.head-right > img {
    width: 120px;
    height: 120px;

    border-radius: 50%;
    object-fit: cover;
    object-position: 75% center;
}

.head-right > h3 {
    font-size: clamp(16px, 2vw, 18px);
}

.head-right > h4 {
    font-size: clamp(16px, 2vw, 18px);
    font-family: var(--arima);
    font-weight: 400;
}

.head-right > p {
    font-size: 16px;
}

.slider-section > h3 {
    font-size: clamp(20px, 3vw, 32px);
    font-weight: 600;

    text-align: center;
    padding-bottom: 48px;
}

.slider {
    height: 250px;

    display: flex;
    gap: 10px;
}

.slider-element {
    width: 140px;
    height: 80%;
    border-radius: 16px;
    z-index: 1;

    background-color: blueviolet;
    box-shadow: -10px 14px 10px rgba(3, 7, 18, 0.15);

    transform: perspective(250px) rotateY(20deg) translateX(-20px);
    transform-origin: 50% 50%;

    transition: all 250ms ease-in-out;
}

.slider-element:hover {
    z-index: 2;
    transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.5)
        scaleY(1.5);
}

.slider-element:hover ~ .slider-element {
    transform: perspective(250px) rotateY(-20deg) translateX(20px);
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.text-section span {
    font-weight: 700;
}

.tipp-box {
    background-color: var(--green);
    width: 200px;
    padding: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    border-radius: 10px;
    rotate: -13deg;
}

.tipp-box > p {
    font-weight: 700;
    font-size: 28px;
    color: var(--yellow);
}

.bottom-list ol {
    background-color: var(--greentransparent);
    padding: 24px 16px 24px 32px;

    border-radius: 30px;
}

.bottom-list a {
    font-weight: 700;
    color: var(--green);

    text-decoration: none;
}

.share-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;

    position: relative;
}

.share-section > p {
    font-family: var(--arima);
    font-weight: 500;
    font-size: clamp(18px, 2.5vw, 24px);
    text-align: center;
    max-width: 35ch;
}

.share-arrow {
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 30px;
}

.share-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    position: relative;
}

.share-button p {
    font-family: var(--arima);
    font-weight: 700;
    font-size: 24px;
    color: var(--yellow);
}

.share-button > input {
    display: none;
}

.share-button > label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;

    width: 150px;
    background-color: var(--green);
    border-radius: 40px;

    position: absolute;
    left: 55px;
    transition: left 400ms linear;
}

.share-links {
    display: flex;
    gap: 16px;

    position: absolute;
    visibility: hidden;
    transform: translateX(30px);
    opacity: 0;
    transition: all 400ms linear;
}

.share-links > img {
    width: 24px;
}

.link-list > a {
    display: flex;
    flex-direction: column;

    color: var(--green);
    font-family: var(--arima);
    font-weight: 600;
    font-size: 16px;
}

.share-button > input:checked ~ label {
    left: 20px;
    width: 100px;

    pointer-events: none;
    cursor: default;
}

.share-button > input:checked ~ label img {
    display: none;
}

.share-button > input:checked ~ .share-links {
    visibility: visible;
    left: 130px;
    transform: translateX(0px);
    opacity: 1;
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
    main {
        padding: 80px 100px;
        gap: 80px;
    }

    .head-section {
        display: flex;
        gap: 20px;
    }

    .head-right {
        margin: 0;
        width: 600px;
    }

    .stats {
        padding: 40px 0px 0px;
    }
}

@media screen and (min-width: 480px) and (max-width: 1279px) {
    .head-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .head-right {
        width: 320px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
    header img {
        width: 72px;
    }

    main {
        padding: 40px 60px;
        gap: 60px;
    }

    .text-section {
        gap: 80px;
    }

    .full-length-p {
        max-width: 100%;
    }

    .share-arrow {
        width: 100px;
        left: 0%;
        bottom: 10%;
    }

    .share-button > label {
        left: 180px;
    }

    .share-button > input:checked ~ label {
        left: 135px;
    }

    .share-button > input:checked ~ .share-links {
        left: 250px;
        transform: translateX(0px);
    }
}

@media screen and (min-width: 769px) and (max-width: 950px) {
    .share-arrow {
        width: 80px;
        left: 0%;
        bottom: 10%;
    }

    .share-button > label {
        left: 145px;
    }

    .share-button > input:checked ~ label {
        left: 100px;
    }

    .share-button > input:checked ~ .share-links {
        left: 215px;
        transform: translateX(0px);
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .share-arrow {
        left: 10%;
        bottom: 20%;
    }

    .share-button > label {
        left: 115px;
    }

    .share-button > input:checked ~ label {
        left: 70px;
    }

    .share-button > input:checked ~ .share-links {
        left: 185px;
        transform: translateX(0px);
    }
}

@media screen and (min-width: 360px) and (max-width: 479px) {
    .share-arrow {
        left: 0;
        bottom: 20%;
    }

    .share-button > label {
        left: 100px;
    }

    .share-button > input:checked ~ label {
        left: 70px;
    }

    .share-button > input:checked ~ .share-links {
        left: 180px;
        transform: translateX(0px);
    }
}
